APP_PORT=3000
DB_PORT=3306
DB_NAME=sport_store
DB_USER=sport_user
DB_PASSWORD=sport_password_dev
MARIADB_ROOT_PASSWORD=root_password_dev
JWT_SECRET=change_this_secret_before_production
TZ=America/Bogota
